{% extends 'base.html.twig' %}

{% block title %}RendezVous{% endblock %}

{% block body %}
    <h1>RendezVous</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rendez_vou.id }}</td>
            </tr>
            <tr>
                <th>DateRV</th>
                <td>{{ rendez_vou.dateRV ? rendez_vou.dateRV|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DetailsRV</th>
                <td>{{ rendez_vou.detailsRV }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('rendez_vous_index') }}">back to list</a>

    <a href="{{ path('rendez_vous_edit', {'id': rendez_vou.id}) }}">edit</a>

    {{ include('rendez_vous/_delete_form.html.twig') }}
{% endblock %}
